<app-header class="header-wrap"></app-header>
<div class="card-wrap">
    <app-card
        titulo="Basic"
        dinheiro="19.99"
        paragrafoUm="500 GB Storage"
        paragrafoDois="2 Users Allowed"
        paragrafoTres="Send up to 3 GB"
        classCardsPonta='cardsPonta'
        ></app-card>
        
        <app-card
        titulo="Professional"
        dinheiro="24.99"
        paragrafoUm="1 TB Storage"
        paragrafoDois="5 Users Allowed"
        paragrafoTres="Send up to 10 GB"
        idCardMeio="cardMeio"
        ></app-card>
        
        <app-card
        titulo="Master"
        dinheiro="39.99"
        paragrafoUm="2 TB Storage"
        paragrafoDois="10 Users Aloowed"
        paragrafoTres="Send up to 20 GB"
        classCardsPonta='cardsPonta'
    ></app-card> 
</div>